---
# Kubernetes workers
## We cannot guarantee that the do_vpc variable is present
## so we should do a quick lookup
- name: Lookup VPCs
  community.digitalocean.digital_ocean_vpc_info:
  register: vpcs

- name: Create Worker Machines # noqa jinja[invalid]
  community.digitalocean.digital_ocean_droplet:
    state: present
    name: "kube-worker-{{ item }}"
    size: "{{ _size_id }}"
    region_id: "{{ _region_id }}"
    image: "{{ _image_id }}"
    ssh_keys: "{{ do_ssh_key.data.ssh_key.id }}"
    unique_name: true
    private_networking: true
    monitoring: true
    vpc_uuid: "{{ vpcs | community.general.json_query(this_query) | first }}"
    tags: "{{ worker_tags }}"
  register: worker_droplets
  loop: "{{ range(0, 3) | list }}"
  when: deploy | bool
  vars:
    this_query: "data[?name=='{{ _vpc_name }}'].id"
